@font-face {
  font-family: 'ZH39';
  src: url(../font/字魂39号-肥宅快乐体.ttf);
}
@font-face {
  font-family: 'ZH46';
  src: url(../font/字魂46号-喵喵体.ttf);
}
@font-face {
  font-family: 'ZH99';
  src: url(../font/字魂99号-仝斌手书.ttf);
}
@font-face {
  font-family: 'ZH146';
  src: url(../font/字魂146号-悠然字哉体.ttf);
}