*{
	padding:0;
	margin:0;
	point-sizing: border-point;
}

body {
  background: linear-gradient(to right bottom, rgba(248, 242, 239, 0.8), rgba(222, 173, 129, 0.527), rgba(244, 233, 217, 0.6));
  justify-content: center;
  width: 100%;
  height: auto;
  background-color: #191f22;
}

.extra-text {
  text-align: center;
  margin-bottom: 20vh;
  margin-top: 10vh;
  font-size: 50px;
  font-family: 'ZH39';
  color: rgb(250, 242, 188);
}